.test {
	display: flex;

	&__case {
		margin-left: 0.5rem;

		&--pass {
			color: #00bb00;
		}

		&--fail {
			color: #bb0000;
		}

		&--styles.test__case--fail {
			display: none;
		}

		&--styles.test__case--pass {
			display: inline !important;
		}

		&--images {
			margin-top: 0.2em;
			height: 0.72em;
		}
	}
}